<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="allegro_hand_right_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="joint_0.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_0.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_1.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_1.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_2.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_2.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_3.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_3.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_12.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_12.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_13.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_13.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_14.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_14.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_15.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_15.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_4.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_4.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_5.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_5.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_6.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_6.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_7.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_7.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_8.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_8.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_9.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_9.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_10.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_10.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_11.0">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_11.0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
