<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="allegro_hand_right">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import allegro_hand_right urdf file -->
    <xacro:include filename="$(find allegro_driver)/urdf/AllegroHandRight.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="allegro_hand_right.ros2_control.xacro" />


    <xacro:allegro_hand_right_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
